<!DOCTYPE html>
<html>


 <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      window.onload = function()
      {
        // var logo = document.getElementById("logo");
        // var demo = document.getElementById("demo");
        // var demo2 = document.getElementById("demo2");
        // var tag = document.getElementById("tag");
        // logo.className = "animated slideInLeft";
        // demo.className = "animated fadeInDownBig";
        // demo2.className = "animated slideInRight";

        var tag1 = document.getElementById("tag1");
        var tag2 = document.getElementById("tag2");
        var tag3 = document.getElementById("tag3");
        var tag4 = document.getElementById("tag4");

        tag1.className = "animated fadeInLeftBig";
        tag2.className = "animated fadeInRightBig";
        tag3.className = "animated slideInDown";
        tag4.className = "animated fadeInUpBig";

      }
    </script>
  </head>

	<body>
  <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo" ></a>
          </div>
          <!--company-logo-->
          <nav class="pull-right">
            <ul style="margin-top:70px;" id="demo2">
              <li><a href="index.html">Home</a></li>
              <li><a href="views/team.html">Team Mates</a></li>
              <li><a href="views/work_with_us.html">Work with us</a></li>
              <li><a href="views/about_us.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- Navigation Header Ends -->

   

      <!-- Tag Line -->
      <div class="row">
          <div class="col-xs-12 text-center tagline">
        <h1>
          <label id="tag1"> Programming </label>
          <label id="tag2">is</label>
          <label id="tag3">an Art </label>
          <label id="tag4">form that fights back</label>
        </h1>
      </div>
      </div>
      <!-- Tag Line Ends -->

      
      <div class="row">
        <div class="col-lg-12">
          <h1 class="text" title="About Us">About Us</h1>
        </div>
      </div>
      
      
      
      <div class="row" style="margin-bottom: 300px;">
        <div class="col-lg-12">
          <p class="text1" title="Business Automation, Software Development, Web Development, Open-source Consulting, Mobile App Development, Technology Consulting">
            Business Automation, Software Development, Web Development, Open-source Consulting, Mobile App Development, Technology Consulting
          </p>
        </div>
      </div>

        <!-- Footer -->
      <div class="row">
         <div class="col-lg-1"></div>
        <div class="col-lg-5">
          <span>
            Contact Us: <a href="mailto:contact@improwised.com" style="text-decoration: none;color: #333333">contact@improwised.com</a>
          </span>
        </div>

        <div class="col-lg-6 pull-right">
          <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
        </div>

      </div>
    
        <!-- Footer --> 
      </div> <!-- row completed -->
    </div>
  </body>
</html>
