<!DOCTYPE html>
<html>
	<head>
	    <title>Improwised Technologies: Pushing Technology Forward</title>
	    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	    <meta name="Description" content="We help our customers make the most out of their business with technology.">
	    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">

	    <!-- Animate CSS -->
	    <link rel="stylesheet" type="text/css" href="../assets/css/animate.min.css"></link>
	    <!-- Bootstrap -->
	    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
	    <!-- Site CSS -->
	    <link href="../assets/css/site.css" rel="stylesheet">
	    
	    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	    <script src="http://code.jquery.com/jquery.js"></script>
	    <!-- Include all compiled plugins (below), or include individual files as needed -->
	    <script src="../assets/js/bootstrap.min.js"></script>
	    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	    <!--[if lt IE 9]>
	      <script src="../../assets/js/html5shiv.js"></script>
	      <script src="../../assets/js/respond.min.js"></script>
	    <![endif]-->
	</head>

	<body style="background-color:#009192">
        <div class="row">
          <div class="col-lg-1">
          </div>
          <div class="col-lg-10">
            <h1 class="text" title="About Us">About Us</h1>
          </div>
          <div class="col-lg-1">
          </div>
        </div>
        <div class="row">
            <div class="col-lg-1">
          </div>
          <div class="col-lg-10">
            <h1 class="text1" title="Business Automation, Software Development, Web Development, Open-source Consulting, Mobile App Development, Technology Consulting">Business Automation, Software Development, Web Development, Open-source Consulting, Mobile App Development, Technology Consulting</h1>
          </div>
          <div class="col-lg-1">
          </div>
        </div>
	</body>
</html>
