<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet" type="text/css"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <script src="http://maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script>
      function initialize() {
        var map_canvas = document.getElementById('map_canvas');
        var map_options = {
          //Change Langitude and Latitude accroding to Place
          center: new google.maps.LatLng(22.292149,70.789227),
          zoom: 16,
          mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        var map = new google.maps.Map(map_canvas, map_options)
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>

    <script type="text/javascript">
      window.onload = function()
      {
        var demo = document.getElementById("demo");
        var demo2 = document.getElementById("demo2");
        var test = document.getElementById("test");
        demo.className = "animated bounceIn";
        demo2.className = "animated slideInRight";
        test.className = "animated slideInLeft";
      }
    </script>
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo"></a>
          </div>
          <!--company-logo-->
          <!-- Large Screen -->
          <div class="pull-right visible-lg">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Large Screen -->

          <!-- Mobile/Tablet Screen -->
          <div class="pull-right visible-md">
            <nav>
              <ul style="margin-top:70px;" id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>

          <!-- Mobile/Tablet Screen-->
        </div>
      </header>
      <!-- Navigation Header Ends -->
      <div class="row visible-xs visible-sm" id="navextra">
        <div class="col-lg-12">
          <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <i class="icon-chevron-down" id="arrow"></i>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
              <ul class="nav navbar-nav" style="font-size: 16px">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>

      <div class="row">
      </div>


      <!-- Tage Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline">
          <h1> The distance between <br> heaven and earth <br> is no greater than one thought. </h1>
        </div>
      </div>
      <!-- Tag Line Ends -->
      <hr/>
      <!-- Container -->
        <div class="row">
          <!-- contact information -->
          
          <div class="col-lg-5 col-md-4 col-sm-12 col-xs-12 contact main_desc">
            <h2 class="main_title">Reach Us!</h3>
            <strong style="border-bottom:2px solid #DDD;padding:0 0 5px">Improwised Technologies Private Limited</strong>
            <br><br>
            <p>211 - Amrut Comm. Complex,</p>
            <p>Above Pujara Telecom,</p>
            <p>Sardarnagar Main Road,</p>
            <p>Rajkot - 360001.</p>
            <span class="glyphicon glyphicon-send" style="font-size:1.2em"></span>
            <a href="mailto:contact@improwised.com" style="font-size:1.2em">Email Us</a>
          </div>
          <!-- contact information complete -->
          
          <!-- map -->
          <div class="col-lg-6 col-md-5 col-sm-12 visible-lg visible-sm visible-md" style="margin-top:25px"><div id="map_canvas"></div></div>
          <div class="col-md-1 visible-md"></div>
          <div class="col-xs-12 visible-xs" style="margin-top:25px;">
            <hr>
            <h4><strong>Click Here !!</strong></h4>
            <!--  <a href="http://maps.google.com/maps/api/staticmap?center=22.292026648694872, 70.78884959220886&zoom=19&size=400x400&maptype=hybrid&sensor=false"><img width="320px" height="400px" src="http://maps.google.com/maps/api/staticmap?center=22.292149,70.789227&zoom=19&size=600x400&maptype=hybrid&sensor=false&language=en&mobile=true" alt="Map"></a> -->
             <a href="http://maps.google.com/maps/api/staticmap?center=22.292026648694872, 70.78884959220886&zoom=19&size=400x400&maptype=hybrid&sensor=false"><img width="320px" height="400px" src="../assets/img/staticmap.png" alt="Map"></a>
          </div>
          <!-- map complete -->
        </div>
      <!-- Container -->

      <div class="leftBar"></div>
      <div class="rightBar"></div>

      <!-- Footer -->
      <footer>
        <nav>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p><a href="#">Blog</a> -
            <a href="#">Archive</a> -
            <a href="../index.html">Home</a>
            <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="footer_logo" onmouserover="changelogo()">Socialize with Us:
            <img src="../assets/img/logo_fb.png">
            <img src="../assets/img/logo_gp.png">
            <img src="../assets/img/logo_twt.png">
            </p>
          </div>
          <div class="col-lg-3 col-md-3 visible-lg visible-md">
            <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
           <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
            <span class="">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
        </nav>
      </footer>
      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>