<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><!-->
      <script src="../assets/js/html5shiv.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <!--<![endif]-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">
      function fadeIn(id)
      {
        var ione = document.getElementById("i_"+id);
        var pone = document.getElementById("p_"+id);
        pone.style.display = "inline-block";
        ione.style.transform = "scale(1.3)";
        ione.style.webkitTransform = "scale(1.3)";
        pone.className = "animated fadeInLeft";
        ione.style.border = "7px solid white";
        ione.style.transition = "0.3s";
        ione.style.cursor = "pointer";
      }

      function fadeOut(id)
      {
        var pone = document.getElementById("p_"+id);
        var ione = document.getElementById("i_"+id);

        ione.style.transform = "scale(1)";
        ione.style.webkitTransform = "scale(1)";
        pone.className = "animated fadeOutLeft";
        ione.style.border = "none";
        ione.style.transition = "0.3s";
      }
    </script>
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4 col-md-4 visible-lg visible-md">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo" class="img-responsive"></a>
          </div>
          <div class="col-sm-12 visible-sm visible-xs">
            <a href="../index.html"><img src="../assets/img/logo.png" class="img-responsive"></a>
          </div>
          <!--company-logo-->
          <!-- Large Screen -->
          <div class="pull-right visible-lg">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="team.html" class="active">Team</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Large Screen -->

          <!-- Mobile/Tablet Screen -->
          <div class="pull-right visible-md">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li><a href="team.html" class="active">Team</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Mobile/Tablet Screen-->
        </div>

      </header>
      <!-- Navigation Header Ends -->
      <div class="row visible-xs visible-sm" id="navextra">
        <div class="col-lg-12">
          <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
              <ul class="nav navbar-nav" style="font-size: 16px">
                <li><a href="../index.html">Home</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="about_us.html">About Us</a></li>
                <li class="active"><a href="team.html">Team</a></li>
                <li><a href="contact.html">Contact Us</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>

      <!-- Tag Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline">
          <h1>
            <label id="tag1">Teamwork</label>
            <label id="tag2"> makes </label>
            <label id="tag3"> the </label>
            <label id="tag4"> Dreamwork</label>
          </h1>
        </div>
      </div>
      <!-- Tag Line Ends -->
      <hr/>
      <!-- container -->
        <div class="row" id="content">
          <div class="col-xs-12">
            <div class="content main_desc">
              <h2 class="main_title">Our Team</h2>
              <p>We have strong expertised team that you would love to join. We make Dreams true by working hard in a Team.</p>
              <p>Due to the nature of our work, we constantly encounter challenging problems. So naturally, we value problem solving ability in our team members more than 
                anything else.</p>
                <p>If you think you are a good problem solver and will enjoy working in a challenging environment, take a stab at our <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank">exercise</a>. It won't take more than a few minutes
              of your time. We're always happy to know other good programmers, so please feel free to attempt it even if you're not looking for a job.</p>
            </div>
          </div>
        </div>

          <div class="row visible-lg visible-md visible-sm">

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/rakshitair.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 38px">
                  <label class="member">
                    <a href="https://github.com/deltasquare4" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/deltasquare4" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                  </label>
                </p>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 teamhead">
                <h4>Rakshit Manpara</h4>
                <p>Founder, CEO</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/shailesh-sir.png" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: -3px">
                  <label class="member">
                    <a href="https://www.facebook.com/shailesh.davara" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/sdavara" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/sdavara" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:shailesh.davara?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                    <a href="http://www.linkedin.com/in/sdavara" title="linkedin">
                      <i class="icon-linkedin-sign icon-2x linkedin"></i>
                    </a>
                  </label>
                </p>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 teamhead">
                <h4>Shailesh Davara</h4>
                <p>COO, Senior Developer</p>
              </div>
            </div>

          </div>

          <div class="row visible-lg visible-md visible-sm">

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/YOGESH.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 17px">
                  <label class="member">
                    <a href="https://www.facebook.com/yogesh.devaliya" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/yogeshdevaliya" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/yogeshdevaliya" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:yogesh_devaliya?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                  </label>
                </p>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 teamhead">
                <h4>Yogesh Devaliya</h4>
                <p>Software Engineer</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/MIT.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 17px">
                  <label class="member">
                    <a href="https://www.facebook.com/meet2mitinfo" title="Facebook">
                        <i class="icon-facebook-sign icon-2x fb"></i>
                      </a>
                      <a href="https://github.com/meet2me" title="GitHub">
                        <i class="icon-github-sign icon-2x git"></i>
                      </a>
                      <a href="https://twitter.com/MitPatel92" title="Twitter">
                        <i class="icon-twitter-sign icon-2x twitter"></i>
                      </a>
                      <a href="http://in.linkedin.com/pub/mit-patel/32/245/611/" title="linkedin">
                        <i class="icon-linkedin-sign icon-2x linkedin"></i>
                      </a>
                  </label>
                </p>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 teamhead">
                <h4>Mit Patel</h4>
                <p>Software Engineer</p>
              </div>
            </div>

          </div>

          <div class="row visible-lg visible-md visible-sm">

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/tapan.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 17px">
                  <label class="member">
                    <a href="https://www.facebook.com/BAVALIYA.TAPAN" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/tapanbavaliya" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/tbavaliya" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:tapan.bavaliya?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                  </label>
                </p>
              </div>

              <div class="col-lg-5 col-md-5 col-sm-5 teamhead">
                <h4>Tapan Bavaliya</h4>
                <p>Designer</p>
              </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
              <div class="col-lg-1 col-md-1 col-sm-1">
              </div>
              <div class="col-lg-4 col-md-5 col-sm-7">
                <br>
                <p>
                  <img src="../assets/img/whonext.png" alt="..." class="img-circle person">
                </p>
              </div>

              <div class="col-lg-5 col-md-6 col-sm-5 teamhead">
                <h4>Wanna be Here..?</h4>
                <p>
                  <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank" class="btn btn-info">Apply Here</a>
                </p>
              </div>
            </div>

          </div>

          <!-- for mobile view -->
          
          <div class="row visible-xs">

            <div class="col-xs-12">
              <hr>
              <div class="col-xs-12 teamheadmobile">
                <h4>Rakshit Manpara</h4>
                <p>Founder, CEO</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <img src="../assets/img/rakshitair.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 38px">
                  <label class="member">
                    <a href="https://github.com/deltasquare4" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/deltasquare4" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                  </label>
                </p>
              </div>
              <hr>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-12 teamheadmobile">
                <h4>Shailesh Davara</h4>
                <p>COO, Senior Developer</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <img src="../assets/img/shailesh-sir.png" alt="..." class="img-circle person">
                </p>
                <p>
                  <label class="member">
                    <a href="https://www.facebook.com/shailesh.davara" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/sdavara" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/sdavara" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:shailesh.davara?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                    <a href="http://www.linkedin.com/in/sdavara" title="linkedin">
                      <i class="icon-linkedin-sign icon-2x linkedin"></i>
                    </a>
                  </label>
                </p>
              </div>
            </div>
          <hr>
          </div>

          <div class="row visible-xs">

            <div class="col-xs-12">
              <div class="col-xs-12 teamheadmobile">
                <h4>Yogesh Devaliya</h4>
                <p>Software Engineer</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <img src="../assets/img/YOGESH.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 14px">
                  <label class="member">
                    <a href="https://www.facebook.com/yogesh.devaliya" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/yogeshdevaliya" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/yogeshdevaliya" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:yogesh_devaliya?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                  </label>
                </p>
              </div>
              <hr>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-12 teamheadmobile">
                <h4>Mit Patel</h4>
                <p>Software Engineer</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <img src="../assets/img/MIT.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 14px">
                  <label class="member">
                    <a href="https://www.facebook.com/meet2mitinfo" title="Facebook">
                        <i class="icon-facebook-sign icon-2x fb"></i>
                      </a>
                      <a href="https://github.com/meet2me" title="GitHub">
                        <i class="icon-github-sign icon-2x git"></i>
                      </a>
                      <a href="https://twitter.com/MitPatel92" title="Twitter">
                        <i class="icon-twitter-sign icon-2x twitter"></i>
                      </a>
                      <a href="http://in.linkedin.com/pub/mit-patel/32/245/611/" title="linkedin">
                        <i class="icon-linkedin-sign icon-2x linkedin"></i>
                      </a>
                  </label>
                </p>
              </div>
              <hr>
            </div>

          </div>

          <div class="row visible-xs">

            <div class="col-xs-12">
              <div class="col-xs-12 teamheadmobile">
                <h4>Tapan Bavaliya</h4>
                <p>Designer</p>
              </div>
              <div class="col-xs-12">
                <p>
                  <img src="../assets/img/tapan.jpg" alt="..." class="img-circle person">
                </p>
                <p style="margin-left: 14px">
                  <label class="member">
                    <a href="https://www.facebook.com/BAVALIYA.TAPAN" title="Facebook">
                      <i class="icon-facebook-sign icon-2x fb"></i>
                    </a>
                    <a href="https://github.com/tapanbavaliya" title="GitHub">
                      <i class="icon-github-sign icon-2x git"></i>
                    </a>
                    <a href="https://twitter.com/tbavaliya" title="Twitter">
                      <i class="icon-twitter-sign icon-2x twitter"></i>
                    </a>
                    <a href="skype:tapan.bavaliya?call" title="Skype">
                      <i class="icon-skype icon-2x skype"></i>
                    </a>
                  </label>
                </p>
              </div>
              <hr>
            </div>

            <div class="col-xs-12">
              <div class="col-xs-12 teamheadmobile">
                <h4>Wanna be Here..?</h4>
                <p>
                  <img src="../assets/img/whonext.png" alt="..." class="img-circle person">
                </p>
              </div>
              <div class="col-xs-12 teamheadmobile">
                <p style="margin-left: 15px;">
                  <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank" class="btn btn-info">Apply Here</a>
                </p>
              </div>
            </div>

          </div>

          <!-- end mobile view -->

      <div class="leftBar"></div>
      <div class="rightBar"></div>

      <!-- Footer -->
      <footer>
        <nav>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="footer_logo" onmouserover="changelogo()">Socialize with Us:
            <img src="../assets/img/logo_fb.png">
            <img src="../assets/img/logo_gp.png">
            <img src="../assets/img/logo_twt.png">
            </p>
          </div>
          <div class="col-lg-3 col-md-3 visible-lg visible-md">
            <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
           <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
            <span class="">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
        </nav>
      </footer>
      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>