<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">
      window.onload = function()
      {
        var demo = document.getElementById("demo");
        var demo2 = document.getElementById("demo2");
        var logo = document.getElementById("logo");
        demo.className = "animated bounceIn";
        demo2.className = "animated slideInRight";
        logo.className = "animated slideInLeft";

        var tag1 = document.getElementById("tag1");
        var tag2 = document.getElementById("tag2");
        var tag3 = document.getElementById("tag3");
        var tag4 = document.getElementById("tag4");

        tag1.className = "animated bounceInLeft";
        tag2.className = "animated bounceInRight";
        tag3.className = "animated bounceInDown";
        tag4.className = "animated bounceInUp";
      }
    </script>
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4 col-md-4 col-sm-12">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo"></a>
          </div>
          <!--company-logo-->
          <!-- Large Screen -->
          <div class="pull-right visible-lg">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html" class="active">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Large Screen -->

          <!-- Mobile/Tablet Screen -->
          <div class="pull-right visible-md">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html" class="active">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Mobile/Tablet Screen-->
        </div>

      </header>
      <!-- Navigation Header Ends -->
      <div class="row visible-xs visible-sm" id="navextra">
        <div class="col-lg-12">
          <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
              <ul class="nav navbar-nav" style="font-size: 16px">
                <li><a href="../index.html">Home</a></li>
                <li class="active"><a href="team.html">Team Mates</a></li>
                <li><a href="work_with_us.html">Work with us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>

      <!-- Tag Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline">
          <h1>
            <label id="tag1">Teamwork</label>
            <label id="tag2"> makes </label>
            <label id="tag3"> the </label>
            <label id="tag4"> Dreamwork</label>
          </h1>
        </div>
      </div>
      <!-- Tag Line Ends -->
      <hr/>
      <!-- container -->
        <div class="row">
          <div class="col-xs-12">
            <div class="content main_desc">
              <h2 class="main_title">Our Team</h2>
              <p>We have strong expertised team that you would love to join. We make Dreams true by working hard in a Team. Due to the nature of our work, we constantly encounter 
              challenging problems. So naturally, we value problem solving ability in our team members more than anything else.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-2"></div>  
        <div class="col-lg-4">
          <ul id="poster">
            <li>
              <img src="../assets/img/01_iron_man_2.jpg" alt="Iron Man 2" />
              <div class="frame">
                <h3>Rakshit&nbsp;Menpara</h3>
                <p>Founder, CEO</p>
                <a href="#" title="Facebook">
                  <i class="icon-facebook-sign icon-2x fb"></i>
                </a>
                <a href="#" title="GitHub">
                  <i class="icon-github-sign icon-2x git"></i>
                </a>
                <a href="https://twitter.com/deltasquare4" title="Twitter">
                  <i class="icon-twitter-sign icon-2x twitter"></i>
                </a>
                <a href="#" title="Skype">
                  <i class="icon-skype icon-2x skype"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="col-lg-4">
          <ul id="poster">
            <li>
              <img src="../assets/img/01_iron_man_2.jpg" alt="Iron Man 2" />
              <div class="frame">
                <h3>Shailesh&nbsp;Davara</h3>
                <p>COO, Senior Developer</p>
                <a href="#" title="Facebook">
                  <i class="icon-facebook-sign icon-2x fb"></i>
                </a>
                <a href="#" title="GitHub">
                  <i class="icon-github-sign icon-2x git"></i>
                </a>
                <a href="https://twitter.com/sdavara" title="Twitter">
                  <i class="icon-twitter-sign icon-2x twitter"></i>
                </a>
                <a href="#" title="Skype">
                  <i class="icon-skype icon-2x skype"></i>
                </a>
              </div>
            </li>
          </ul>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <ul id="poster">
              <li>
                <img src="../assets/img/aragorn.jpg" alt="Iron Man 2" width="315px" height="410px;"/>
                <div class="frame">
                  <h3>Mit&nbsp;Patel</h3>
                  <p>Software Engineer</p>
                  <p>My attitude isn’t bad. It’s in beta.</p>
                  <a href="https://www.facebook.com/meet2mitinfo" title="Facebook">
                    <i class="icon-facebook-sign icon-2x fb"></i>
                  </a>
                  <a href="https://github.com/meet2me" title="GitHub">
                    <i class="icon-github-sign icon-2x git"></i>
                  </a>
                  <a href="https://twitter.com/MitPatel92" title="Twitter">
                    <i class="icon-twitter-sign icon-2x twitter"></i>
                  </a>
                  <a href="skype:meet_me92?call" title="Skype">
                    <i class="icon-skype icon-2x skype"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul id="poster">
              <li>
                <img src="../assets/img/deckard.jpg" alt="Iron Man 2" width="315px" height="410px;"/>
                <div class="frame">
                  <h3>Yogesh&nbsp;Devaliya</h3>
                  <p>Software Engineer</p>
                  <p>A good programmer makes all the right mistakes.</p>
                  <a href="https://www.facebook.com/yogesh.devaliya" title="Facebook">
                    <i class="icon-facebook-sign icon-2x fb"></i>
                  </a>
                  <a href="https://github.com/yogeshdevaliya" title="GitHub">
                    <i class="icon-github-sign icon-2x git"></i>
                  </a>
                  <a href="https://twitter.com/yogeshdevaliya" title="Twitter">
                    <i class="icon-twitter-sign icon-2x twitter"></i>
                  </a>
                  <a href="skype:yogesh_devaliya?call" title="Skype">
                    <i class="icon-skype icon-2x skype"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul id="poster">
              <li>
                <img src="../assets/img/buzz.jpg" alt="Iron Man 2" width="315px" height="410px;"/>
                <div class="frame">
                  <h3>Tapan&nbsp;Balavliya</h3>
                  <p>Designer</p>
                  <p>With the world now aware of his dual</p>
                  <a href="https://www.facebook.com/BAVALIYA.TAPAN" title="Facebook">
                    <i class="icon-facebook-sign icon-2x fb"></i>
                  </a>
                  <a href="#" title="GitHub">
                    <i class="icon-github-sign icon-2x git"></i>
                  </a>
                  <a href="https://twitter.com/tbavaliya" title="Twitter">
                    <i class="icon-twitter-sign icon-2x twitter"></i>
                  </a>
                  <a href="skype:tapan.bavaliya?call" title="Skype">
                    <i class="icon-skype icon-2x skype"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Future Member Div-->
        <div class="col-lg-4"></div>
        <div class="row">
          <div class="col-lg-4">
            <ul id="poster">
              <li>
                <img src="../assets/img/new.jpg" alt="Iron Man 2" />
                <div class="frame">
                  <h3><strong>?&nbsp;?&nbsp;?</strong></h3>
                  <p>Future Team Member</p>
                  <p>Wanna be here?
                  Just solve this simple excercise ..!</p>
                  <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank" id="cull">Apply Here</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <!-- Future Member Ends-->
      <div>

      <div class="leftBar"></div>
      <div class="rightBar"></div>

      <!-- Footer -->
      <footer>
        <nav>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p><a href="#">Blog</a> -
            <a href="#">Archive</a> -
            <a href="../index.html">Home</a>
            <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="footer_logo" onmouserover="changelogo()">Socialize with Us:
            <img src="../assets/img/logo_fb.png">
            <img src="../assets/img/logo_gp.png">
            <img src="../assets/img/logo_twt.png">
            </p>
          </div>
          <div class="col-lg-3 col-md-3 visible-lg visible-md">
            <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
           <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
            <span class="">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
        </nav>
      </footer>
      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>