<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- style css -->
    <link rel="stylesheet" type="text/css" href="../assets/css/style.css"/>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
    <link href="http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script type="text/javascript">
      window.onload = function()
      {
        var demo = document.getElementById("demo");
        var demo2 = document.getElementById("demo2");
        var logo = document.getElementById("logo");
        demo.className = "animated bounceIn";
        demo2.className = "animated slideInRight";
        logo.className = "animated slideInLeft";

        var tag1 = document.getElementById("tag1");
        var tag2 = document.getElementById("tag2");
        var tag3 = document.getElementById("tag3");
        var tag4 = document.getElementById("tag4");

        tag1.className = "animated bounceInLeft";
        tag2.className = "animated bounceInRight";
        tag3.className = "animated bounceInDown";
        tag4.className = "animated bounceInUp";
      }
    </script>
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo" onmouseover="shake()"></a>
          </div>
          <!--company-logo-->
          <nav class="pull-right">
            <ul style="margin-top:70px;" id="demo2">
              <li><a href="../index.html">Home</a></li>
              <li><a href="team.html" class="active">Team Mates</a></li>
              <li><a href="work_with_us.html">Work with us</a></li>
              <li><a href="about_us.html">About Us</a></li>
            </ul>
          </nav>
        </div>
      </header>
      <!-- Navigation Header Ends -->

      <div class="row">
      </div>

      <!-- Tage Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline2">
          <h1>
            <strong><label id="tag1">Teamwork</label></strong>
            <label id="tag2"> makes</label>
            <label id="tag3"> the</label>
            <strong><label id="tag4">Dreamwork</label></strong>
          </h1>
        </div>
      </div>
      <!-- Tag Line Ends -->

   
      <!-- container -->
      <div class="row">
        <div id="content">
          <div class="col-lg-2"></div>  
          <div class="col-lg-4">
            <ul id="movieposters">
              <li>
                <img src="../assets/img/01_iron_man_2.jpg" alt="Iron Man 2" />
                <div class="movieinfo">
                  <h3>Rakshit Menpara</h3>
                  <p>With the world now aware of his dual</p>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <!-- <img style="border: none;box-shadow: none;" src="../assets/img/blog.jpeg" class="img-circle share" height="48px" width="48px"/> -->
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <!-- <img style="border: none;box-shadow: none;" src="../assets/img/github.jpeg" class="img-circle share" height="48px" width="48px"/> -->
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <!-- <img style="border: none;box-shadow: none;" src="../assets/img/twitter.jpeg" class="img-circle share" height="48px" width="48px"/> -->
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-5">
            <ul id="movieposters">
              <li>
                <img src="../assets/img/01_iron_man_2.jpg" alt="Iron Man 2" />
                <div class="movieinfo">
                  <h3>Shailesh Davara</h3>
                  <p>With the world now aware of his dual</p>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-facebook-sign icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-github-alt icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-twitter-sign icon-2x"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4">
            <ul id="movieposters">
              <li>
                <img src="../assets/img/mit.jpg" alt="Iron Man 2"/>
                <div class="movieinfo">
                  <h3>Mit Patel</h3>
                  <p>My attitude isn’t bad. It’s in beta.</p>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-facebook-sign icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-github-alt icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-twitter-sign icon-2x"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul id="movieposters">
              <li>
                <img src="../assets/img/yogesh.jpg" alt="Iron Man 2"/>
                <div class="movieinfo">
                  <h3>Yogesh Devaliya</h3>
                  <p>With the world now aware of his dual</p>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-facebook-sign icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-github-alt icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-twitter-sign icon-2x"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
          <div class="col-lg-4">
            <ul id="movieposters">
              <li>
                <img src="../assets/img/tapan.jpg" alt="Iron Man 2" width="280px" height="320px"/>
                <div class="movieinfo">
                  <h3>Tapan Balavliya</h3>
                  <p>With the world now aware of his dual</p>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-facebook-sign icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-github-alt icon-2x"></i>
                  </a>
                  <a href="http://www.imdb.com/title/tt1228705/" title="Iron Man 2">
                    <i class="icon-twitter-sign icon-2x"></i>
                  </a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      <div>

      <div class="leftBar"></div>
      <div class="rightBar"></div>

      <!-- Footer -->
      <footer>
        <nav>
          <div class="col-lg-5">
            <p><a href="#">Blog</a> -
            <a href="#">Archive</a> -
            <a href="../index.html">Home</a>
            <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
          </div>
          <div class="col-lg-4">
            <p class="footer_logo" onmouserover="changelogo()">Socialize with Us:
            <img src="../assets/img/logo_fb.png">
            <img src="../assets/img/logo_gp.png">
            <img src="../assets/img/logo_twt.png">
            <br><br>
          </p>
          </div>
          <div class="col-lg-3">
            <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
        </nav>
      </footer>
      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>