<head>
  <link href="../assets/css/slider.css" rel="stylesheet" type="text/css" />
  <script src="../assets/js/jquery-1.7.1.min.js" type="text/javascript"></script>
  <script src="../assets/js/jquery-slider.js" type="text/javascript"></script>
</head>
<div id="mcts1">
  <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong>Web Developement</strong></p>
          <p>The Thumbnail Slider (or jQuery Slider if using the jQuery version) allows you to easily animate any series of elements, by sequentially scrolling them.</p>
          <p>The content can be anything: HTML, text, images, ...</p>
      </div>
  </div>
  <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong>Web Designing</strong></p>
          <p>The Thumbnail Slider allows you to organize, highlight and showcase your most important content in a sleek and stylish manner while
              at the same time allowing your audience to browse the content all within the same page.</p>
      </div>
  </div>
  <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong>Mobile Application Developement</strong></p>
          <p>The options in the script allows you to easily cutomize the slider to your web design. No muss, no fuss.</p>
          <ul>
              <li>direction</li>
              <li>scroll interval</li>
              <li>scroll duration</li>
              <li>hover pause</li>
              <li>auto advance</li>
              <li>scroll by each thumb</li>
              <li>circular</li>
              <li>large image slider</li>
              <li>inSync with large image slider</li>
          </ul>
      </div>
  </div>
  <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong>Logo Design</strong></p>
          <p>The Content Slider is compatible with all major browsers and mobile platforms like iphone / ipad.</p>
          <p><strong>Carousel with Good Device Support</strong></p>
          <p>The Carousel is compatible with mobile platforms like iphone / ipad.</p>
      </div>
  </div>
  <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong>Graphics Design</strong></p>
          <p>The Content Slider is compatible with all major browsers and mobile platforms like iphone / ipad.</p>
          <p><strong>Carousel with Good Device Support</strong></p>
          <p>The Carousel is compatible with mobile platforms like iphone / ipad.</p>
      </div>
  </div>
  <!-- <div class="each">
      <img src="../assets/img/laravel.png" />
      <div class="content">
          <p><strong></strong></p>
          <p>The Content Slider is compatible with all major browsers and mobile platforms like iphone / ipad.</p>
          <p><strong>Carousel with Good Device Support</strong></p>
          <p>The Carousel is compatible with mobile platforms like iphone / ipad.</p>
      </div>
  </div> -->
</div>
