<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="//code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->

    <script type="text/javascript">
      window.onload = function()
      {
        var demo = document.getElementById("demo");
        var demo2 = document.getElementById("demo2");
        var test = document.getElementById("test");
        demo.className = "animated bounceIn";
        demo2.className = "animated slideInRight";
        test.className = "animated slideInLeft";
      }
    </script>
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4 ">
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
              <a href=""><img src="../assets/img/logo.png" id="test"></a>
            </div> <!--company-logo-->
          </div>
          <nav class="pull-right">
            <ul style="margin-top:70px;" id="demo2">
              <li><a href="index.html">Home</a></li>
              <li><a href="views/team.html">Team Mates</a></li>
              <li><a href="views/work_with_us.html">Work with us</a></li>
              <li><a href="views/about_us.html">About Us</a></li>
            </ul>
          </nav>

      </header>
      <!-- Navigation Header Ends -->

      <div class="row">
      </div>

      <!-- Tage Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline">
          <h1> We Automate The Business <br>Using <br>Technology</h1>
        </div>
      </div>
      <!-- Tag Line Ends -->

      <div class="row">
        <div class="col-lg-12 col-xs-6 col-ms-4">
          <div class="content" style="margin-left:20px;">
            <p>Due to the nature of our work, we constantly encounter challenging problems. So naturally, we value problem solving ability in our team members more than anything else.</p>
            <p>If you think you are a good problem solver and will enjoy working in a challenging environment, take a stab at our exercise. It won't take more than a few minutes of your time. We're always happy to know other good programmers, so please feel free to attempt it even if you're not looking for a job.</p>

            <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank" class="btn btn-info">Apply Here</a>
          </div>
        </div>
      </div>
      <hr>
      <!-- Footer -->
      <footer>
        <nav>
          <p><a href="#">Blog</a> -
          <a href="#">Archive</a> -
          <a href="../index.html">Home</a>
          <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span></p>
        </nav>
        <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
      </footer>
      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>