<!DOCTYPE html>
<html>
  <head>
    <title>Improwised Technologies: Pushing Technology Forward</title>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="Description" content="We help our customers make the most out of their business with technology.">
    <meta name="Keywords" content="improwised technologies, business automation, technology consulting">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Animate CSS -->
    <link href="../assets/css/animate.min.css" rel="stylesheet" type="text/css" ></link>
    <!-- Bootstrap -->
    <link href="../assets/css/bootstrap.css" rel="stylesheet" media="screen">
    <!-- Site CSS -->
    <link href="../assets/css/site.css" rel="stylesheet" type="text/css">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="http://code.jquery.com/jquery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="../assets/js/bootstrap.min.js"></script>
    <!-- Font Awesome -->
    <link href="../assets/css/font-awesome.css" rel="stylesheet" type="text/css"></link>
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]><!-->
      <script src="../assets/js/html5shiv.js"></script>
      <script src="../assets/js/respond.min.js"></script>
    <!--<![endif]-->
  </head>

  <body>
    <!-- Container starts -->
    <div class="container">

      <!-- Navigation Header -->
      <header>
        <div class="row">
          <!--company-logo-->
          <div class="col-lg-4 col-md-4 visible-lg visible-md">
            <a href="../index.html"><img src="../assets/img/logo.png" id="logo" class="img-responsive"></a>
          </div>
          <div class="col-sm-12 visible-sm visible-xs">
            <a href="../index.html"><img src="../assets/img/logo.png" class="img-responsive"></a>
          </div>
          <!--company-logo-->
          <!-- Large Screen -->
          <div class="pull-right visible-lg">
            <nav>
              <ul id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>
          <!-- Large Screen -->

          <!-- Mobile/Tablet Screen -->
          <div class="pull-right visible-md">
            <nav>
              <ul style="margin-top:70px;" id="demo2">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </nav>
          </div>
        </div>

      </header>
      <!-- Navigation Header Ends -->
      <div class="row visible-xs visible-sm" id="navextra">
        <div class="col-lg-12">
          <nav class="navbar navbar-inverse" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse" >
              <ul class="nav navbar-nav" style="font-size: 16px">
                <li><a href="../index.html">Home</a></li>
                <li><a href="team.html">Team</a></li>
                <li><a href="services.html">Services</a></li>
                <li><a href="contact.html">Contact Us</a></li>
                <li><a href="about_us.html">About Us</a></li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
          </nav>
        </div>
      </div>

      <div class="row">
      </div>

      <!-- Tag Line -->
      <div class="row" id="demo">
        <div class="col-xs-12 text-center tagline">
          <h1>
            <label id="tag1">Together</label>
            <label id="tag2"> Everyone </label>
            <label id="tag3"> Achieves </label>
            <label id="tag4"> More.</label>
          </h1>
        </div>
      </div>
      <!-- Tag Line Ends -->
      <hr>

      <!-- Content -->
      <div class="row">
        <div class="col-xs-12">
          <div class="content main_desc">
            <h2 class="main_title">Work with Us</h2>
            <p>Due to the nature of our work, we constantly encounter challenging problems. So naturally, we value problem solving ability in our team members more than anything 
              else.</p>
            <p>If you think you are a good problem solver and will enjoy working in a challenging environment, take a stab at our exercise. It won't take more than a few minutes
              of your time. We're always happy to know other good programmers, so please feel free to attempt it even if you're not looking for a job.</p><br>
            <a href="http://www.cull.io/submit/#!/78001-btjbip" target="_blank" class="btn btn-info">Apply Here</a>
          </div>
        </div>
      </div>
      <!-- Content -->

      <div class="leftBar"></div>
      <div class="rightBar"></div>

      <!-- Footer -->
       <footer>
        <nav>
          <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12">
            <p>All Rights Reserved &copy; 2013. Improwised Technologies Pvt. Ltd.</p>
          </div>
          <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            <p class="footer_logo" onmouserover="changelogo()">Socialize with Us:
            <img src="../assets/img/logo_fb.png">
            <img src="../assets/img/logo_gp.png">
            <img src="../assets/img/logo_twt.png">
            </p>
          </div>
          <div class="col-lg-3 col-md-3 visible-lg visible-md">
            <span class="pull-right">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
           <div class="col-sm-12 col-xs-12 visible-sm visible-xs">
            <span class="">Contact Us: <a href="mailto:contact@improwised.com">contact@improwised.com</a></span>
          </div>
        </nav>
      </footer>

      <!-- Footer Ends -->
    </div>
    <!-- container -->
  </body>
</html>
