
/* site.css : Custom Stylesheet
* Improwised Technologies Pvt. Ltd.
*/
body{
  font-family:sans-serif;
}

ul{margin:0;padding:0;}

.round{
  border-radius: 0px; /* one half of ( (border * 2) + height + padding ) */
  color:#00AFDA ;
  font:  19px/13px Helvetica, Verdana, Tahoma;
  padding-left: 25px;
  text-align: center;
  margin-right:20px;
  margin-top:20px;
  position:relative;
  background:none;
}

.home:hover
{
  display: inline;
  background: #DDD;
  padding-bottom: 30px;
  border-radius: 7px;
  padding-left: 20px;
  padding-top: 15px;
  border-bottom-left-radius: 10px;
}


/* Menu / nav bar. */
nav ul{
  margin-top: 75px;
  font: 19px Helvetica, Verdana, Tahoma;
  list-style: none;

}
nav #demo2 li{
  float: left;
  text-decoration: none;
}
nav li {
  text-decoration: none;
}

nav li a {
  text-decoration: none;
  display: block; 
  padding: 20px 25px;
}

nav ul li a:hover
{
  background: #74B64A;
  color:white;
  text-decoration: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  transition:0.3s;
}

.active
{
  background: #74B64A;
  color:white;
  margin-left: 5px;
  margin-right: 5px;
  text-decoration: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.aboutActive
{
  background: #74B64A;
  color:white;
  margin-left: 5px;
  text-decoration: none;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

#navextra ul{

  display: block;
}

.contact{
  margin-top:30px;
}

.tagline{
  text-shadow: 0px 2px 6px #333;
  color: #eee;
  border-radius: 7px;
  font: 50px Helvetica, Arial, Sans-serif; 
  background-color:#74B64A;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -5px;
}

/*MAP CSS*/
#map_canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
}

.heading
{
  background: #88B554;
  margin: 30px;
  padding-top:2%;
  padding-bottom:2%;
  padding: 5px;
  text-align: center;
  box-shadow: 3px 3px 9px #DDD;
  border-radius: 7px;
}

.head{
  font-family:sans-serif serif;
  text-decoration: none;
  color: #222;
  font-size: 30px;
  text-transform: uppercase;
  text-shadow: #2c2c2c 3px 3px 5px;
}
.head:hover
{
  color:white;
  transition: 0.4s;
  text-shadow: #000 3px 3px 5px;
}

#arrow{
  background-color: #ffe;
}

#content{
  margin-bottom: 20px;
}


/* Main description */
.main_desc
{
  font-size: 18px;
}
.main_title
{
  font-size: 30px;
  text-shadow: 0 1px 3px #AAA;
  font-weight: bolder;
}
/*Main description ends*/

/*Footer Bar*/
.leftBar {
  background-color: #79b022;
  width: 25%;
  height: 5px;
  float: left;
  margin-top: 18px;
  margin-bottom: 8px;
}
.rightBar {
  background-color: #4cacdf;
  right: 0;
  width: 75%;
  height: 5px;
  float: right;
  margin-top: 18px;
  margin-bottom: 8px;
}
/*Footer Bar Ends*/

/* Footer */
.footer_logo
{
  font-size: 1.3em;
}
.footer_logo img{ 
  cursor: pointer;
  transition:0.1s;
  border-radius: 9px;
  box-shadow: 0px 10px 5px -2px #3a3a3a;
}
.footer_logo img:hover{
  border-radius: 0px;
  transition:0.15s;
}
/*Footer Ends*/

/* Our Services */
.boxService
{
  border:2px solid #00AFDA;
  height: 360px;
  width: 70px;
  float : left;
  display: block;
  cursor: pointer;
  margin-left: 1px;
  background: #F1F1F1;
}

.box_rotate {
  -moz-transform: rotate(-90deg);
  text-align: center;
  margin-top: 170px;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  font-size: 1.3em;
  font-weight: bold;
}

.boxService img{
  width: 280px;
  height: 160px;
}

.descService
{
  display: none;
  margin: 5px;
}

.descService img
{
  margin-left: 15%;
}
/*Services Ends*/

/* Recent Projects */
.clear { clear: both; }
#vertical { margin:50px auto; cursor: pointer;}
#vertical div.element { margin-right:3px; margin-top:5px; width:296px; height:130px; border:1px solid #999; position:relative; overflow:hidden; }
.wrap {  height: 260px; width: 296px; position: absolute; top: 0; }
.init {  height: 130px; width:296px; background: #00AFDA; }
.init img{ width: 250px; height:100px;margin: 20px;}
.short { height: 130px; width:296px; background: #74B64A; }


.panel-heading:hover {
  background: #00AFDA;
  color:white;
}
.roundrect
{
  /*border: 1px solid #111;*/
  width: 361px;
  height: 150px;
  margin-left:100px;
}

.roundrect img
{

  height: 150px;
  width: 150px;
  /*border : 2px solid #DDD;*/
  z-index: 1;
border-color: #74B64A;
  position: relative;
  -webkit-z-index: 100;

  overflow: hidden;
  -webkit-overflow: hidden;
  -moz-border-radius: 90px;
  -webkit-border-radius: 90px;
  border-radius: 90px;
  /*box-shadow:0 0 8px rgba(0, 0, 0, .8);*/
  /*-moz-box-shadow:0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow:0 0 8px rgba(0, 0, 0, .8);*/
}

.roundrect p
{
  border: 7px solid #fff;
  background: #EEE;
  border-left: none;
  vertical-align: middle;
  width: 200px;
  padding-left: 25px;
  padding-right: 5px;
  
}

#new_member{
  padding-top: 200px;
  /*margin-bottom: 10px;*/
}

.member a{
  color:#DDD;
  text-decoration: none;
}

.member a:hover .fb, .member a:focus .fb{
  color:#305A94;
}
.member a:hover .git , .member a:focus .git{
  color:black;
}
.member a:hover .twitter , .member a:focus .twitter{
  color:#00a0d1;
}
.member a:hover .skype , .member a:focus .skype{
  color:#00A3FF;
}

.member a:hover .linkedin , .member a:focus .linkedin{
  color:#4875B4;
}

.person{

box-shadow: 0px 0px 5px black;
-webkit-box-shadow: 0px 0px 5px black;  

}

.teamhead{
color: #303030;
margin-left: -45px;
margin-top: 50px;
letter-spacing: 1px;

}

.teamheadmobile{
color: #303030;
letter-spacing: 1px;
}
