/* HTML ELEMENTS */
body {font:14px/21px Arial,Helvetica,sans-serif; }
h2 a { display: block; text-decoration: none; margin: 0 0 30px 0; font: italic 45px Georgia, Times, Serif;  text-align: center; color: #bfe1f1; text-shadow: 0px 2px 6px #333; }
h2 a:hover { color: #90bcd0; }

/* COMMON CLASSES */
.break { clear:both; }

/* WRAPPER */
#wrapper { margin:40px auto; text-align: center;}

/* CONTENT */
#content { }
#content .info { padding:10px; }

/* IMAGE POSTERS */
#poster { list-style:none; margin:100px 0; height:550px; }

#poster li {
	display:inline; float:left;
	-webkit-perspective: 500; -webkit-transform-style: preserve-3d;
	-webkit-transition-property: perspective; -webkit-transition-duration: 0.5s; 

	-moz-perspective: 500px; -moz-transform-style: preserve-3d;
	-moz-transition-property: perspective; -moz-transition-duration: 0.5s;
}
#poster li:hover {
	-webkit-perspective: 5000;
	-moz-perspective: 5000px; 
}
	
#poster li img {
	border:10px solid #fcfafa;
	-webkit-transform: rotateY(30deg);
	-moz-transform: rotateY(30deg);
	box-shadow:0 3px 10px #888; 
	-webkit-box-shadow:0 3px 10px #888;
	-webkit-transition-property: transform; 
	-webkit-transition-duration: 0.5s; 
	-moz-transition-property: transform; 
	-moz-transition-duration: 0.5s;
}

#poster li:hover img {
	-webkit-transform: rotateY(0deg);
	-moz-transform: rotateY(0deg);
}

.frame {
	cursor: pointer;
	border:10px solid #fcfafa; 
	padding:25px;
	width:250px; height:220px;
	background-color:#deddcd;
	margin:-195px 0 0 55px; position:absolute;
	box-shadow:0 20px 40px #888; -webkit-box-shadow:0 20px 40px #888;
	-webkit-transform: translateZ(30px) rotateY(30deg);
	-webkit-transition-property: transform, box-shadow, margin; -webkit-transition-duration: 0.5s;
	-moz-transform: translateZ(30px) rotateY(30deg);
	-moz-transition-property: transform, box-shadow, margin; -moz-transition-duration: 0.5s;
}
	
#poster li:hover .frame {
	-webkit-transform: rotateY(0deg);
	-webkit-box-shadow:0 5px 10px #888;
	margin:-175px 0 0 30px;
	transform: rotateY(0deg); 
	box-shadow:0 5px 10px #888; 
	margin:-175px 0 0 30px;
}
	
.frame h3 { color:#7a3f3a; font-variant: small-caps; font-family:Georgia,serif,Times; text-align:center; padding-bottom:15px; }

.frame p { padding-bottom:15px; }

#cull{
	color: green;
	text-decoration: underline;
	font-size: 1.5em;
}
.frame a {
	text-decoration:none;
	display:inline;
	width:100px;
	text-align:center;
	padding-top: 40px;
	margin: 10px;
	border-radius:15px;
	-webkit-border-radius:15px;
	color:#ffe;
	margin-bottom: -10px;
}
.frame a:hover .fb, .frame a:focus .fb{
	/*background-color:#6a191f; */
	color:#305A94;
}
.frame a:hover .git , .frame a:focus .git{
	color:black;
}
.frame a:hover .twitter , .frame a:focus .twitter{
	color:#00a0d1;
}
.frame a:hover .skype , .frame a:focus .skype{
	color:#00A3FF;
}